<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    
<head>
   <title>Add Instructor</title>
   <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/bootstrap_nav_header.html"></div>
        <h1 class="text-center">Add New Instructor</h1>

    <form method="post" th:object="${newInstructor}">
        <div class="form-group row">
           <label for="uid" class="col-sm-2 col-form-label">UserID</label>
               <div class="col-sm-10">
                  <table>
                     <tr>
                        <td>
                            <input type="text" th:object="${uid}" class="form-control" id="uid" />
                        </td>
                     </tr>
                     <tr>  
                     </tr>
                  </table> 
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              </div>
        </div>

        <button type="submit" th:formaction="@{/instructor/add}" class="btn btn-primary" id="selenium-instructor-add">
        Add Instructor
        </button>
    </form>

    <table class="table table-striped">
       <thead>
          <tr>
              <th>UserID</th>
              <th>Username</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
           <tr th:each="a: ${appUsers}">
              <td th:text="${a.uid}"></td>
              <td th:text="${a.username}"></td>
              <td th:if="${true}">
                 <form th:action="@{/instructor/delete/{uid}(uid=${a.uid})}" th:method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                 </form>
              </td>
           </tr>
        </tbody>
      </table>
      <div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_scripts.html"></div>
  </body>
</html>
