<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    
<head>
   <title>Add Instructor</title>
   <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/bootstrap_nav_header.html"></div>
        <h1>Add New Instructor</h1>

    <table class="table table-striped">
       <thead>
          <tr>
              <th>Username</th>
              <th>Add/Remove</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
           <tr th:each="a: ${appUsers}">
              <td th:text="${a.username}"></td>
              <td th:if="${a.isInstructor}">
                 <form th:action="@{/instructor/delete/{username}(username=${a.username})}" th:method="post" th:object="${newInstructor}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                 </form>
               <td th:if="${!a.isInstructor}">
                  <form th:action="@{/instructor/add/{username}(username=${a.username})}" th:method="post" th:object="${newInstructor}">
                     <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                     <button type="submit" class="btn btn-primary">Add</button>
              </td>
           </tr>
        </tbody>
      </table>
      <div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_scripts.html"></div>
  </body>
</html>
