<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
<fieldset>      
  <legend>What do you want to download?</legend>      
  <input type="checkbox" name="Download" value="???">???<br>      
  <input type="checkbox" name="Download" value="???">???<br>      
  <input type="checkbox" name="Download" value="???">???<br>      
  <br>      
  <input type="submit" value="Submit now" />      
</fieldset>  
</html>

<!-- Database located at ../UserVote.java// page with filter and download button is required -->