  <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <div th:replace="fragments/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="fragments/bootstrap_nav_header.html"></div>
      <h3>Hello</h3>
      <div>
      <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Data Dropdown
      </a>
       <div class="dropdown-menu" aria-labelledby="Dropdown">
        <a class="dropdown-item" href = /instructor>Data 1</a>
        <a class="dropdown-item" href = /instructor>Data 2</a>
    </div>
    </div>
    <div>
      <a class="dropdown-toggle" href="#" id="Dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Edit Instructors
    </a>
       <div class="dropdown-menu" aria-labelledby="Dropdown2">
        <a class="dropdown-item" href = /instructor/add_instructor>Add Instructor</a>
        <a class="dropdown-item" href = /instructor/delete>Delete Instructor</a>
      </div>
      </div>

      <div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_scripts.html"></div>
  </body>
</html>
