<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Student Information Generator</title>
    <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/bootstrap_nav_header.html"></div>
        <h2 class="text-center">Student Information Generator</h2>
        <form style="text-align:center" action="#" th:action="@{/instructor/random_student_results}" th:object="${AppUser}" method="get">
            <input type="submit" class="btn btn-primary" value="I am feeling lucky!">
        </form>
        <h6 style="text-align:center">Click the Buttom to View a Random Student's Activity</h6>
        <div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
