<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>

    <h1>View a random student's activity</h1>

    <form action="#" th:action="@{/instructor/random_student_results}" th:object="${AppUser}" method="get">
       <input type="submit" class="btn btn-primary" value="Generate">
    </form>

    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
