<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <title>Upvotes</title>
    <div th:replace="fragments/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="fragments/bootstrap_nav_header.html"></div>
      <h2 class="text-center">Most Upvoted Searches</h2>
      <div>
        <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Data Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="Dropdown">
          <a class="dropdown-item" href = /instructor>Instructor page</a>
          <a class="dropdown-item" href = /instructor/popular_searches>Poplar Searches</a>
          <a class="dropdown-item" href = /instructor/data>Data_Stub</a>
        </div>
      </div>
      <table class = "table">
        <thead>
            <tr>
                <th>Search Result</th>
                <th>Vote Count</th>
            </tr>
        </thead>
				<tbody>
					<div th:if=" ${upVotedSearchesSize} != 0">
            
						<tr th:each="f: ${upVotedSearches}"> 
							<td><a th:href="${f.getResult().getLink()}" th:utext="${f.getResult().getHtmlTitle()}"></a> from <a th:href="${f.getResult().getDisplayLink()}" th:text="${f.getResult().getDisplayLink()}"></a> </td>
							<td><a th:text="${f.getResult().getVotecount()}"></a></td>
						</tr>
          </div>
				</tbody>
      </table>
      <div th:if=" ${upVotedSearchesSize} == 0">
        <h4 class = "text-center"> No upvoted links</h4>
      </div>
    
      <div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_scripts.html"></div>
  </body>
</html>
