<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <title>Upvotes</title>
    <div th:replace="fragments/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="fragments/bootstrap_nav_header.html"></div>
      <h2 class="text-center">Most Upvoted Searches</h2>
      <table class = "table">
        <tbody>
          <!-- If there is no upvoted linsk then nothing will be printed out -->
          <div th:if=" ${upVoteLinksSize} == 0">
            <h4 class = "text-center"> No upvoted link</h4>
          </div>
          <!-- If there is any links that have been upvote, it will be printed out in a table format shown here -->
          <div th:if=" ${upVoteLinksSize} != 0">
            <tr th:each="f: ${upVoteLinks}"> 
              <td><a th:href="${f}" th:text="${f}"></a></td>
            </tr>
          </div>
        </tbody>
      </table>
    
      <div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_scripts.html"></div>
  </body>
</html>
