<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="../../css/styles.css">
    <style>
    p.bigfont {
    color: red;
    font-size: 200%;
    }
  </style>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>

  <tbody>
    <div class="container">
        <div th:replace="fragments/bootstrap_nav_header.html"></div>
        <p th:text="'Hello, ' + ${user.username} + '!'"></p>
      </div>
    </div>
    <div class="container my-5">
      <p class="bigfont" th:text="'Here is your API Key:' + ${user.apikey}" th:if="${user.apikey != null}"></p>
      <p class="bigfont" th:text="'PLEASE UPDATE YOUR API KEY!'" th:if="${user.apikey == null}"></p>
      <form action="#" th:action="@{/user/settings/update/}" th:object="${user_template}" method="get">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="apiKey" class="col-form-label">Enter New API Key: </label>
                <input type="text" th:field="*{apikey}" class="form-control" id="apikey" placeholder="Stub">
                <span th:if="${#fields.hasErrors('apikey')}" th:errors="*{apikey}" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Update API Key">
            </div>
        </div>    
    </form>
    </div>

    <!--
      <div class="form-group col-md-6">
      <form action="#" th:action="@{/user/settings/update/{username}(username=${user.username})}" th:object="${user}" method="post">
        <div class="form-group col-md-6">
        <label for="apiKey" class="col-form-label">API Key</label>
        <input type="text" th:field="*{apiKey}" class="form-control" id="username" placeholder="EMPTY">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
      </div>  
      </form>
    </div>
  -->
</tbody>
</html>
