<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
    <title>Settings</title>
  </head>
  <body>
    <div class="container">
      <div th:replace="/../fragments/bootstrap_head.html"></div>
      <div th:replace="/../fragments/bootstrap_nav_header.html"></div>
      <div class="container">
        <font size="5"> <p th:text="'Hello, ' + ${user.username} + '!'"></p></font>
      </div>
      <div class="container">
        <p>
        <form action="upvotehistory">
            <input type="submit" class="btn btn-primary btn-lg" title="Previously upvoted links" value="Upvote History" />
        </form>
      </p>
      </div>
      <div class="container">
        <p>
            <form action="taghistory">
                <input type="submit" class="btn btn-primary btn-lg" title="Previously tagged links" value="Tag History" />
            </form>
        </p>
      </div>
      <!-- for debugging
                 <div class="container" th:if="${isLoggedIn} and ${isAdmin}">
                  <h3>Oauth.toString()</h3>
                  <a th:text="${auth}"></a>
                </div>
              -->
      <!-- <div class="container">
        <p style="color:red" th:text="'Number of API calls: ' + ${api_uses} + '/' + ${max_uses}"> </p>
      </div> -->

      <div class="container my-5">
        <form action="#" th:action="@{/user/settings/update/}"
          th:object="${user_template}" method="post">
          <div class="form-group row">
            <input type="text" th:name="apikey" class="form-control col-sm-10"
              id="apikey" placeholder="Enter API Key" autofocus>
          <span th:if="${#fields.hasErrors('apikey')}" th:errors="*{apikey}"
            class="text-danger"></span>
            <input type="submit" class="btn btn-primary" value="Update API Key">
          </div>
        </form>
        <p>Don't have an API key? <a href="https://developers.google.com/custom-search/v1/overview" target="_blank">Click here.</a></p>
        <br>
        <p>Your current Google API key is: <a th:utext="${user.apikey}"></a></p>
        <span th:text="'Number of API calls: '"></span>
        <span style="color:red" th:text=" ${api_uses} + '/' + ${max_uses}"></span>
      </div>
      <div th:replace="/../fragments/bootstrap_scripts.html"></div>
    </div>
  </body>

</html>