<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
 	<title>Tag History</title>
 	<div th:replace="fragments/bootstrap_head.html"></div>
 </head>

  <body class="text-center">
 	<div class="container">
 		<div th:replace="fragments/bootstrap_nav_header.html"></div>
		 <h2 class="text-center">Tag History</h2>
		 <table class = "table">
			<tbody>
				<div th:if=" ${userTags.size()} == 0">
					<h4 class = "text-center"> No tags</h4>
				</div>
				<div th:if=" ${userTags.size()} != 0">
					<tr th:each="f: ${userTags}"> 
						<td><a th:href="${f.getResult().getLink()}" th:text="${f.getResult().getLink()}"></a></td>
					</tr>
				</div>
			</tbody>
		</table>
	 </div>
	 <div class = "container">
		<form method="GET" th:action="@{/user/taghistory}" th:object="${Tag}">

			<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"/> -->
				<div class="form-group row">
					<!-- <label class="col-sm-2 col-form-label"></label> -->
			
					<!-- <div class="tag-dropdown" style="display: none;" th:id="${'tagdropdown-' + iterStat.index}"></div> -->
					<!-- <div class="input-group mb-3">     -->
					<!-- <input type="text" name="query" class="form-control" placeholder="Search your tag history here" autofocus="true"/> -->
					<div class="tag-menu-filters">
						<div class="tag-menu-text-filter">
						  <input type="text" class="js-tag-filter-field" placeholder="Filter tags" aria-label="Filter tags" autocomplete="off" autofocus>
						</div>
					  </div>
					  <div class="tag-menu-content">
						<div class="tag-menu-list">
						  <div th:each="f: ${userTags}" class="tag-menu-item">
							<!-- <option value="{$f.getResult().getTag().getName()}">{$f.getResult().getTag().getName()}</option> -->
							
							<!-- <div class="tag-menu-item-checked">
							  <i class="fas fa-check tag-check"></i>
							</div> -->
							<!-- <div class="tag-menu-item-text">
							  <span class="tag-menu-item-name" th:text="${f.getResult().getLink()}"></span>
							</div>
						  </div>
						  <div th:each="f: ${userTags}" class="tag-menu-item">
							<div class="tag-menu-item-checked">
							  <i class="fas fa-check tag-check" style="display: none;"></i>
							</div>
							<div class="tag-menu-item-text">
							  <span class="tag-menu-item-name" th:text="${f.getResult().getLink()}"></span>
							</div> -->
						  </div>
						</div>
					  </div>
					</div>
					</div>
			
				</div>
			
			
			
			</form>
			
	 </div>

	 <div class="card searchresult-row p-4 my-2 d-flex flex-row" th:fragment="row (item, query, iterStat)" th:id="${'searchresult-' + iterStat.index}">
		<div class="tag-dropdown" style="display: none;" th:id="${'tagdropdown-' + iterStat.index}">
		  <!-- <div class="tag-menu-header">
			<span class="tag-menu-title">Add tags to this result</span>
		  </div> -->
		  <div class="tag-menu-filters">
			<div class="tag-menu-text-filter">
			  <input type="text" class="js-tag-filter-field" placeholder="Filter tags" aria-label="Filter tags" autocomplete="off" autofocus>
			</div>
		  </div>
		  <div class="tag-menu-content">
			<div class="tag-menu-list">
			  <div th:each="tag : ${userTags}" class="tag-menu-item">
				<!-- <div class="tag-menu-item-checked">
				  <i class="fas fa-check tag-check"></i>
				</div> -->
				<div class="tag-menu-item-text">
				  <span class="tag-menu-item-name" th:text="${tag.getResult().getLink()}"></span>
				</div>
			  </div>
			  <!-- <div th:each="tag : ${result.getOtherTags()}" class="tag-menu-item">
				<div class="tag-menu-item-checked">
				  <i class="fas fa-check tag-check" style="display: none;"></i>
				</div>
				<div class="tag-menu-item-text">
				  <span class="tag-menu-item-name" th:text="${tag.name}"></span>
				</div>
			  </div> -->
			</div>
		  </div>
		</div>

	 <div class="container">
		<div th:replace="fragments/bootstrap_footer.html"></div>
		<div th:replace="fragments/bootstrap_scripts.html"></div>
	 </div>
 </body>

  </html> 