<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Upvote History</title>
    <div th:replace="fragments/bootstrap_head.html"></div>
</head>
<body class="text-center">
    <div class="container">
        <div th:replace="fragments/bootstrap_nav_header.html"></div>
        <h2 class="text-center">Upvote History Page</h2>
        <div th:replace="user/upvote_sort_dropdown.html"></div>
		<table class = "table">
				<tbody>
					<div th:if=" ${userVotes.size()} == 0">
						<h4 class = "text-center"> No upvoted links</h4>
					</div>
					<div th:if=" ${userVotes.size()} != 0">
						<tr th:each="f: ${userVotes}"> 
							<td align="left"><a th:href="${f.getResult().getLink()}" th:text="${f.getResult().getLink()}"></a></td>
						</tr>
					</div>
				</tbody>
			</table>
		<div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>
</html>
