<form method="GET" th:action="@{/searchResults}" th:object="${searchObject}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        
        <div class="input-group mb-3">    
        <input type="text" th:field="*{query}" class="form-control" placeholder="Enter a programming/coding query" 
            aria-describedby="js-course-search-submit"/>
            <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="js-course-search-submit"><i class="fas
            fa-search">Search</i></button>
          </div>
        </div>

    </div>

    <!-- //Previous Button
    <div class="form-group row">
        <label for="js-course-search-submit" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" id="js-course-search-submit">Search!</button>
        </div>
    </div>
-->

    
</form>
