<form method="GET" th:action="@{/searchResults}" th:object="${searchObject}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>

        <div class="input-group mb-3">

	    <input type="text" th:field="*{query}" class="form-control" placeholder="Enter a programming/coding query"
            aria-describedby="js-course-search-submit" autofocus/>
            <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="js-course-search-submit"><i class="fas
            fa-search">Search</i></button>
          </div>
        </div>

        <table class="table">
            <tr>
                <th>API Uses</th>
                <th>Maximum</th>
            </tr>
            <tr>
                <td th:text="${api_uses}"></td>
                <td th:text="${max_api_uses}"></td>
            </tr>
        </table>

    </div>



</form>
