<form method="GET" th:action="@{/searchResults}" th:object="${searchParameters}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
    
            
            <div class="input-group mb-3">    
            <input type="text" name="query" class="form-control" placeholder="Enter a programming/coding query" th:value="${previousSearch}" aria-describedby="js-course-search-submit" autofocus="true"/>
                <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" id="js-course-search-submit"><i class="fas
                fa-search">Search</i></button>
              </div>
            </div>
    
            <table class="table">
                <tr>
                    <th>Search Filters</th>
                    <td><input type="reset" value="Reset Filters"></td>
                </tr>
                <tr></tr>
                    <!--  <td>Website:</td> -->
                    <th><label for="website" class="col-form-label">Website:</label></th>
                    <td><input type="text" th:field="*{website}" class="form-control" id="website"></td>
                </tr>
                <tr>
                    <td>Last updated:</td>
                    <td>
                        <select id="time" th:field="*{time}">
                            <option th:value="'anytime'" th:text="anytime"></option>
                            <option th:value="'day'" th:text="past 24 hours"></option>
                            <option th:value="'week'" th:text="past week"></option>
                            <option th:value="'month'" th:text="past month"></option>
                            <option th:value="'year'" th:text="past year"></option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="sortByUpvotes" th:checked="${sortByUpvotes}"></td>
                    <td>Sort by highest upvotes</td>
                </tr>
            </table>
    
            <table class="table">
                <tr>
                    <th>API Uses</th>
                    <th>Maximum</th>
                </tr>
                <tr>
                    <td th:text="${api_uses}"></td>
                    <td th:text="${max_api_uses}"></td>
                </tr>
            </table>
    
        </div>
    
    
    
    </form>
    