<form method="post" action="#" th:action="@{/tags/create}" th:object="${tag_template}">

    <div class="form-group row">
        <div class="col-sm-4 offset-sm-8">
            <label class="col-sm-2 col-form-label"></label>
            <div class="input-group mb-3">
                <input type="text" th:name="name" th:maxlength="50" class="form-control" placeholder="Create a new tag"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Add Tag</button>
                </div>
            </div>
        </div>

    </div>
</form>