.vote-info {
    width: 35px;
}
.vb {
    font-size: 1.4rem;
    color: black;
}
.vb.vb-up.vb-clicked,.vb.vb-up.vb-clicked:hover {
    color: blue;
}
.vb.vb-up:hover {
    color: rgb(55, 183, 226);
}
.vb.vb-down.vb-clicked,.vb.vb-down.vb-clicked:hover {
    color: red;
}
.vb.vb-down:hover {
    color: orange;
}

.tag-button-col {
  flex: 1;
}

.tag-button-text {
  margin-left: auto;
}

.tag-button-text:hover {
  color: rgb(55, 183, 226);
  cursor: pointer;
}

.tag-button {
  border: none;
  background-color: inherit;
  padding: 0px 8px;
  color: inherit;
}

p.bigfont {
    color: red;
    font-size: 150%;
  }
 
 #footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  }
