.vote-info {
    width: 35px;
}
.vb {
    font-size: 1.4rem;
    color: black;
}
.vb.vb-up.vb-clicked,.vb.vb-up.vb-clicked:hover {
    color: blue;
}
.vb.vb-up:hover {
    color: rgb(55, 183, 226);
}
.vb.vb-down.vb-clicked,.vb.vb-down.vb-clicked:hover {
    color: red;
}
.vb.vb-down:hover {
    color: orange;
}

.vb:hover {
  cursor: pointer;
}


.tag-button-col {
  flex: 1;
}

.tag-button-text {
  margin-left: auto;
}

.tag-button-text:hover {
  color: rgb(55, 183, 226);
  cursor: pointer;
}

.tag-button {
  border: none;
  background-color: inherit;
  padding: 0px 8px;
  color: inherit;
}

.tag-dropdown {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  width: 300px;
  height: 300px;
  z-index: 1;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27,31,35,.15);
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(27,31,35,.15);
}

.tag-menu-header {
  padding: 8px 10px;
  line-height: 16px;
  background: #f6f8fa;
  border-bottom: 1px solid #e1e4e8;
}

.tag-menu-title {
  font-weight: 600;
  color: #24292e;
}

.tag-menu-filters {
  background-color: #f6f8fa;
}

.tag-menu-text-filter {
  padding: 10px;
  border-bottom: 1px solid #dfe2e5;
}

.js-tag-filter-field {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  border: 1px solid #dfe2e5;
  border-radius: 3px
}

.tag-menu-item {
  text-align: left;
  background-color: #fff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  display: block;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #eaecef;
}

.tag-menu-item-checked {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin: 5px 14px 5px 8px;
}

.tag-menu-item.text {
  display: block;
  float: left;
  line-height: 12px;
  font-size: 12px;
  padding: 8px 8px 8px 0px;
}

p.bigfont {
    color: red;
    font-size: 150%;
  }
 
 #footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  }
