<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Filter Search - It's Spanish for "raccoon"</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>
		<h2 class="text-center">Filter Search</h2>
		<div th:replace="fragments/basic_search_form.html"></div>
		<div th:replace="fragments/bootstrap_scripts.html"></div>
		
		<!-- <div th:replace="fragments/bootstrap_footer.html"></div> -->
		<!-- <div th:replace="fragments/bootstrap_scripts.html"></div> -->
    </div>
	<h3 class="text-center">Recently Upvoted Link </h3>
	<table class = "table">
		<tbody>
			<!-- If there is no upvoted linsk then nothing will be printed out -->
			<div th:if=" ${upVoteLinksSize} == 0">
				<h4 class = "text-center"> No upvoted link</h4>
			</div>
			<!-- If there is any links that have been upvote, it will be printed out in a table format shown here -->
			<div th:if=" ${upVoteLinksSize} != 0">
				<tr th:each="f: ${upVoteList}"> 
					<td><a th:href="${f.getResult().getLink()}" th:text="${f.getResult().getHtmlTitle()}"></a> from <a th:href="${f.getResult().getDisplayLink()}" th:text="${f.getResult().getDisplayLink()}"></a> </td>
				</tr>
			</div>
		</tbody>
	</table>
	<div th:replace="fragments/bootstrap_footer.html"></div>

</body>
</html>
