<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Mapache Search - It's Spanish for "raccoon"</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>
		<h2 class="text-center">Mapache Search</h2>
		<div th:replace="fragments/basic_search_form.html"></div>
		<div th:replace="fragments/bootstrap_footer.html"></div>
	</div>

	<div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
