<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Mapache Search - It's Spanish for "raccoon"</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>
		<h2 class="text-center">Mapache Search</h2>
		<div th:replace="fragments/basic_search_form.html"></div>
		<div>
			<h1>Mapache Description</h1>
			<p>For Students: students can use the app to search for and share helpful resources with their class</p>
			<p>For Instructors: instructors can monitor the types of searchers that students are performing, and point them in the right direction</p>
			<p>For Researchers: researchers can use the data from Mapache Search to study metacognition - in particular, the way students formulate questions</p>
		</div>
		
		<!-- <div th:replace="fragments/bootstrap_footer.html"></div> -->
		<!-- <div th:replace="fragments/bootstrap_scripts.html"></div> -->
    </div>
	<h3 class="text-center">Recently Upvoted Link </h3>
	<table class = "table">
		<tbody>
			<!-- If there is no upvoted linsk then nothing will be printed out -->
			<div th:if=" ${upVoteLinksSize} == 0">
				<h4 class = "text-center"> No upvoted link</h4>
			</div>
			<!-- If there is any links that have been upvote, it will be printed out in a table format shown here -->
			<div th:if=" ${upVoteLinksSize} != 0">
				<tr th:each="f: ${upVoteLinks}"> 
					<td><a th:href="${f}" th:text="${f}"></a></td>
				</tr>
			</div>
		</tbody>
	</table>
	<div th:replace="fragments/bootstrap_footer.html"></div>

</body>
</html>
