<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Search Results</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h1>Search Results</h1>

    <div th:replace="fragments/basic_search_form.html"></div>

    <th:block th:replace="fragments/pagination" th:with="baseUrl=@{/searchResults}"></th:block>

    <h2>Items</h2>
    <th:block th:each="item : ${searchResult.items}">
      <th:block th:replace="fragments/result_row :: row (item=${item})"></th:block>
    </th:block>

    <th:block th:replace="fragments/pagination" th:with="baseUrl=@{/searchResults}"></th:block>

    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
