<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Search Results</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h1>Search Results</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${searchResult.kind}"></td>
        </tr>
      </tbody>
    </table>

    <h2>Items</h2>
    <table class="table">
      <thead>
        <tr>
          <th>site</th>
          <th>url</th>
          <th>title</th>
          <th>rating</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="i: ${searchResult.items}">
          <td th:text="${i.displayLink}"></td>
          <td ><a th:utext="${i.htmlFormattedUrl}" th:href="${i.link}"></a></td>
          <td th:utext="${i.htmlTitle}"></td>
          <td th:text="${i.rating}"></td>
        </tr>
      </tbody>
    </table>

    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>