<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>SearchQueries</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>
        <h2 class="text-center">Search Queries</h2>
        <table class = "table">
            <tbody>
                <div th:if=" ${SearchQueries.size()} == 0">
                    <h4 class = "text-center"> No Search Queries</h4>
                </div>
                <div th:if=" ${SearchQueries.size()} != 0">
                        <tr>
                                <th>Uid</th>
                                <th>ID of the search terms</th>
                                <th>Time Stamp</th>
                            </tr>
                    <tr th:each="f: ${SearchQueries}"> 
                        <td><a th:text="${f.getUid()}"></a> </td>
                        <td><a th:text="${f.getId()}"></a></td>
                        <td><a th:text="${f.getTimestamp()}"></a></td>
                    </tr>
                </div>
            </tbody>
        </table>
        
		<div th:replace="fragments/bootstrap_footer.html"></div>
    </div>
	<div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>