<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Mapache Search - It's Spanish for "raccoon"</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">

		<div th:replace="fragments/bootstrap_nav_header.html"></div>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Team 2
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="#">Action</a>
			  <a class="dropdown-item" href="#">Another action</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item" href="#">Something else here</a>
			</div>
		  </li>
		  
		<div th:replace="fragments/bootstrap_footer.html"></div>
	</div>
	<div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
