<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Mapache Search - It's Spanish for "raccoon"</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>
		<h2 class="text-center">GitHub Page</h2>

		<table>

			<thead>
                <tr>
                    <th>Repo</th>
                
                </tr>
            </thead>

		<tbody>
			<tr th:each="String: ${getRepos}"> 
				<li>
				<td th:text="${String}"></td>
				</li>
			</tr>
	</tbody>

</table>






		<div th:replace="fragments/bootstrap_footer.html"></div>
	</div>
	<div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
