<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Mapache Search - It's Spanish for "raccoon"</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body class="text-center">
	<div class="container">

		<div th:replace="fragments/bootstrap_nav_header.html"></div>

		<li>
			<a> Team </a>
			<p>
				This page is a class project of <a href="https://ucsb-cs56.github.io">UCSB's CMPSC 56</a>.     
			</p>
		  </li>
		  
		<div th:replace="fragments/bootstrap_footer.html"></div>
	</div>
	<div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
